// Home screen styles
// ==================

@import 'dirg';

.HomeScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  text-align: center;
}

.Heading {
  @include font-size(4);
}
