// Counter styles
// ==============

@import 'dirg';
@import 'color';

.Counter {
  display: flex;
  flex-flow: column;
  align-items: center;
  cursor: pointer;
  color: color('first');

  >* + * {
    margin-top: units(1);
  }
}

.label {
  @include font-size(0);
}

.countLabel {
  @include font-size(4);
  font-weight: bold;
  width: units(4);
  height: units(4);
  line-height: units(4);
  border-radius: 100%;
  background: color('first', -5);
}
